@font-face {
  font-family: "iconfont"; /* Project id 3612516 */
  src: url("//at.alicdn.com/t/c/font_3612516_r1fvww6zol.woff2?t=1662988392177")
      format("woff2"),
    url("//at.alicdn.com/t/c/font_3612516_r1fvww6zol.woff?t=1662988392177")
      format("woff"),
    url("//at.alicdn.com/t/c/font_3612516_r1fvww6zol.ttf?t=1662988392177")
      format("truetype");
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 0.16rem;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
