@font-face {
  font-family: "iconfont"; /* Project id 3612516 */
  src: url("//at.alicdn.com/t/c/font_3612516_kg7mu8kgmnc.woff2?t=1663139692319")
      format("woff2"),
    url("//at.alicdn.com/t/c/font_3612516_kg7mu8kgmnc.woff?t=1663139692319")
      format("woff"),
    url("//at.alicdn.com/t/c/font_3612516_kg7mu8kgmnc.ttf?t=1663139692319")
      format("truetype");
}
.iconfont {
  font-family: "iconfont" !important;
  font-size: 0.16rem;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
